@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700;900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

:root {
  --text-color: #e2e2e2;
  --link-hover: #f439a6;
  --form-color: #f439a67e;
  --input-bg-transparent: #1c485a94;
}

body {
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 0.2rem;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0.6rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: #fe6365;
  padding: 1rem 2rem;
  outline: none;
  border-radius: 0.6rem;
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: var(--text-color);
  border: none;
  cursor: pointer;
  transition: 0.3s ease-out;
}

.btn:hover {
  transform: translateY(-2px);
}

.btn:active {
  transform: translateY(1px);
}

/*******************************************/

nav {
  background-color: #212a31;
  padding: 0.8rem;
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-box {
  width: 8rem;
  text-align: center;
  border: 1px solid var(--text-color);
  border-radius: 0.6rem;
  padding: 0.3rem;
}

.logo__link {
  text-decoration: none;
}

.logo--blue,
.logo--yellow {
  font-size: 2rem;
  font-weight: 900;
}

.logo--blue {
  color: #118ab2;
}

.logo--yellow {
  color: #ffd166;
}

.logo__text {
  font-size: 0.6rem;
  font-weight: 400;
  color: var(--text-color);
}

.nav__items {
  display: flex;
  list-style-type: none;
}

.nav__link {
  font-size: 1.2rem;
  text-decoration: none;
  padding: 0.6rem 1rem;
  color: var(--text-color);
  border: none;
  transition: all 0.3s ease-out;
}

.nav__link:hover {
  color: var(--link-hover);
  border-bottom: 1px solid var(--link-hover);
}

.register__wrapper {
  height: 90vh;
  background-image: url(/assets/img/bg-image.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
  /* clip-path: polygon(0 0, 100% 31%, 100% 85%, 0% 100%); */
}

form {
  width: 50%;
  background-color: var(--form-color);
  border-radius: 0.6rem;
  padding: 1.5rem;
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--text-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15%;
  /* opacity: 0.9; */
}

form h2 {
  font-size: 1.5rem;
  letter-spacing: 0.6rem;
}

.user-info {
  width: 80%;
  text-align: left;
  margin: 2rem 0;
}

.user-info p {
  font-size: 0.6rem;
  font-weight: 700;
}

.form-input {
  width: 100%;
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: var(--text-color);
  padding: 0.6rem;
  border-radius: 0.6rem;
  background-color: var(--input-bg-transparent);
  border: none;
  outline: none;
  margin: 0.2rem 0;
}

.login-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  font-size: 5rem;
  transform: translate(-50% 050%);
}
